#container {
  display: grid;
  width: 100%;
  height: 700px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
}
#header,#item1,#item2,#item3,#item4,#footer {
  border: 1px black solid;
}
#header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
#item1 {
  grid-row: 2 / 5;
  grid-column: 1 / 2;
}
#item2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
#item3 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
#item4 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}
#footer {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}
